<a href="https://colab.research.google.com/github/NikhilGurrapu/Naive_Bayes_Classifier_on_FISH_csv/blob/main/Naive_Bayes_Classifier_on_FISH_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [718]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [719]:
d=pd.read_csv("Fish.csv")

In [720]:
print("Different Species are:",list(d['Species'].unique()))

Different Species are: ['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt']

In [721]:
d.shape

(159, 7)

In [722]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [723]:
d.isna().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [724]:
print("The data for the Species Bream and Perch are:")
df=pd.DataFrame(d[d['Species'].isin(['Bream','Perch'])])
df

The data for the Species Bream and Perch are:

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
123   Perch  1100.0     39.0     42.0     44.6  12.8002  6.8684
124   Perch  1000.0     39.8     43.0     45.2  11.9328  7.2772
125   Perch  1100.0     40.1     43.0     45.5  12.5125  7.4165
126   Perch  1000.0     40.2     43.5     46.0  12.6040  8.1420
127   Perch  1000.0     41.1     44.0     46.6  12.4888  7.5958

[91 rows x 7 columns]

In [725]:
df.index=range(len(df))

In [726]:
df

   Species  Weight  Length1  Length2  Length3   Height   Width
0    Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1    Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2    Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3    Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4    Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..     ...     ...      ...      ...      ...      ...     ...
86   Perch  1100.0     39.0     42.0     44.6  12.8002  6.8684
87   Perch  1000.0     39.8     43.0     45.2  11.9328  7.2772
88   Perch  1100.0     40.1     43.0     45.5  12.5125  7.4165
89   Perch  1000.0     40.2     43.5     46.0  12.6040  8.1420
90   Perch  1000.0     41.1     44.0     46.6  12.4888  7.5958

[91 rows x 7 columns]

In [727]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [728]:
scaler=StandardScaler()

In [729]:
df.iloc[:,1:]=scaler.fit_transform(df.iloc[:,1:])

In [730]:
d.iloc[:,1:]=scaler.fit_transform(d.iloc[:,1:])

In [ ]:
scaler.fit_transform(df.iloc[:,1:])

In [732]:
df

   Species    Weight   Length1   Length2   Length3    Height     Width
0    Bream -0.720975 -0.583875 -0.574387 -0.330580  0.192534 -0.664898
1    Bream -0.571065 -0.475080 -0.459482 -0.196082  0.411990 -0.472695
2    Bream -0.414909 -0.488680 -0.433947 -0.207290  0.388627 -0.209895
3    Bream -0.343077 -0.162295 -0.114765  0.061707  0.469140 -0.371815
4    Bream -0.133828 -0.135097 -0.114765  0.117748  0.403760  0.084803
..     ...       ...       ...       ...       ...       ...       ...
86   Perch  1.958665  1.564821  1.544980  1.305816  0.485187  1.252021
87   Perch  1.646352  1.673616  1.672653  1.373065  0.286900  1.527136
88   Perch  1.958665  1.714414  1.672653  1.406689  0.419419  1.620882
89   Perch  1.646352  1.728014  1.736490  1.462730  0.440336  2.109130
90   Perch  1.646352  1.850408  1.800326  1.529979  0.414001  1.741548

[91 rows x 7 columns]

In [733]:
d

    Species    Weight   Length1   Length2   Length3    Height     Width
0     Bream -0.438072 -0.305789 -0.282303 -0.106020  0.596579 -0.236529
1     Bream -0.303562 -0.225507 -0.198054 -0.002337  0.821261 -0.066579
2     Bream -0.163448 -0.235542 -0.179332 -0.010977  0.797341  0.165793
3     Bream -0.098995  0.005302  0.054694  0.196390  0.879771  0.022621
4     Bream  0.088759  0.025372  0.054694  0.239592  0.812835  0.426371
..      ...       ...       ...       ...       ...       ...       ...
154   Smelt -1.082039 -1.479903 -1.517960 -1.540309 -1.610359 -1.799403
155   Smelt -1.078676 -1.459833 -1.499238 -1.531669 -1.530878 -1.873547
156   Smelt -1.082039 -1.419692 -1.443072 -1.505748 -1.566687 -1.881402
157   Smelt -1.061022 -1.309305 -1.321378 -1.384784 -1.427243 -1.398568
158   Smelt -1.060461 -1.249094 -1.255851 -1.298381 -1.413341 -1.510440

[159 rows x 7 columns]

In [734]:
xtrain,xtest,ytrain,ytest=train_test_split(df.iloc[:,1:].values,df['Species'].values,test_size=0.2)

## Scikit Learn Implementation

In [735]:
from sklearn.naive_bayes import GaussianNB

In [736]:
nb=GaussianNB()
nb.fit(xtrain,ytrain)

GaussianNB()

In [737]:
print("Training R2 score: ",nb.score(xtrain,ytrain))

Training R2 score:  0.8333333333333334

In [738]:
ypred=nb.predict(xtest)
print("Accuracy_score: ",accuracy_score(ytest,ypred)*100)

Accuracy_score:  94.73684210526315

In [739]:
cm=confusion_matrix(ytest,ypred)

In [740]:
print("Confusion Matrix:\n",cm)
print(classification_report(ytest,ypred))
print("Accuracy:",(cm[0][0]+cm[1][1])/(len(ytest))*100)

Confusion Matrix:
 [[ 6  0]
 [ 1 12]]
              precision    recall  f1-score   support

       Bream       0.86      1.00      0.92         6
       Perch       1.00      0.92      0.96        13

    accuracy                           0.95        19
   macro avg       0.93      0.96      0.94        19
weighted avg       0.95      0.95      0.95        19

Accuracy: 94.73684210526315